<!DOCTYPE html>
<html>
<head>
    <title>Patient Management</title>
    <style>
        body {
            background-color: #e6f2ff; /* Light Blue */
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #000;
        }
        a {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Welcome to Patient Management Application</h1>
    <hr/>
    
    <p>----- Get All Registered Patients --------</p>
    <a href="/patients">Get All Patients</a>
    
    <p>----- Get All Available Services --------</p>
    <a href="/services">Get All Services</a>
</body>
</html>
